.homepage {
    padding: 2em;
    background: rgb(26, 26, 26);
}

/* -------------single code css-------------- */
.codeSing {
    margin: 3em 0em 10em 0em;

}

.codeSing>h5 {
    color: aqua;
    margin-bottom: .5em;
}

.codeSing>h3 {
    color: gold;
    margin-bottom: .5em;
    font-weight: bold;
}

.copycode {
    background: #343434;
    padding: 1em;
    margin: .2em 0em;
    border-radius: .5em;
    margin-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copycode:active {
    background: rgb(79, 79, 79);
}

.temp {
    font-size: 1.2rem;
    position: absolute;
    right: 1em;
    top: 1em;
}

.copycode>p {
    margin-bottom: 0em;
    font-size: 1.1rem;
    color: aliceblue;
}

.codeHere {
    background: #222;
    border-radius: .5em;
    margin-bottom: 1em;
}

.maincodex {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tempmain {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.2rem;
}


.importF {
    position: relative !important;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.itemF {
    position: absolute !important;
    right: 1em !important;
    top: 1em;
    font-size: 1.2rem;
}

/* -------------single code css-------------- */
/* -----------search box---------- */
/* -----------search box---------- */
.searchboxWrapper {
    margin: 1em 0em;
}

.searchboxWrapper>input {
    background: #272822;
    width: 100%;
    border: none;
    padding: .2em 1em;
    font-size: 1.3rem;
    border-radius: .3em;
    color: lightgray;
}
.searchboxWrapper>input::placeholder{
    text-align: center;
    color:rgba(0, 128, 0, 0.463);
    font-size: 1.5rem;
}

.searchboxWrapper>input:focus {
    outline: none;
}
body::-webkit-scrollbar{
    display: none;
}

/* -----------search box---------- */