nav{
    background: rgb(16, 16, 16)!important;
}
.navbar-brand{
    font-size: 1.5rem!important;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 1.5rem!important;
    margin-left: 2em;
}
nav .active{
    font-weight: bold;
}
.navLink{
    color:rgba(19, 171, 191, 0.181)!important;
    font-family: 'Courier New', Courier, monospace;
}
.navbar-collapse{
    flex-grow: 0!important;
}